In [22]:
import pandas as pd
import numpy as np

In [23]:
data = pd.read_csv('moviereviews.csv')
data.head()

,movie,review
0,The Lord of the Rings The Two Towers,remarkable display of fantasy action powerful ...
1,Inception,implanting stealing idea destroy gripping acti...
2,Spiderman Across the spider verse,mind bending wild action sequences intimate em...
3,The Dark Knight,Best live action portrayal beat organized crim...
4,Three colors red,mesmerising friendship turned love profound un...

In [24]:
movies = df["movie"].tolist()
movie_vectors = {}

In [25]:
for movie in movies:
    vector = np.random.rand(300)  
    movie_vectors[movie] = vector
similar_movies = []
for movie1 in movie_vectors:
    for movie2 in movie_vectors:
        if movie1 != movie2:
            vector1 = movie_vectors[movie1]
            vector2 = movie_vectors[movie2]

            dot_product = np.dot(vector1, vector2)
            magnitude1 = np.linalg.norm(vector1)
            magnitude2 = np.linalg.norm(vector2)

           
            angle = np.arccos(dot_product / (magnitude1 * magnitude2))

            similar_movies.append((movie1, movie2, angle))
similar_movies.sort(key=lambda x: x[2])

In [26]:
print("Top similar movie pairs:")
for pair in similar_movies[:3]:
    print(f"Movies '{pair[0]}' and '{pair[1]}' with angle similarity of {pair[2]:.2f} radians.")

Top similar movie pairs:
Movies 'Inception' and 'Three colors red' with angle similarity of 0.65 radians.
Movies 'Three colors red' and 'Inception' with angle similarity of 0.65 radians.
Movies 'It happened one night' and 'In the Mood for Love' with angle similarity of 0.65 radians.